* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  user-select: none !important;
}

*:disabled {
  opacity: 60%;
}
